{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
<div class="container details">
    <h1>{{ event.name }}</h1>
    <hr>
    <img src="{{ event.image }}" class="card-img-top" alt="...">
    <hr>
    <p>{{ event.description }}</p>
    <hr>
    <p>Capacity: {{ event.capacity }}</p>
    <hr>
    <p>Start Time: {{ event.startTime ? event.startTime|date('Y-m-d H:i:s') : '' }}</p>
    <hr>
    <p>Email: {{ event.email }}</p>
    <hr>
    <p>Phone Number: {{ event.phoneNumber }}</p>
    <hr>
    <p>Address: {{ event.address }}</p>
    <hr>
    <p>Url: {{ event.url }}</p>
    <hr>
    <p>Type: {{ event.type }}</p>
    <div class="row row-cols-3">
        <a  class="btn btn-warning" href="{{ path('app_events_index') }}">back to list</a>
    
        <a  class="btn btn-success" href="{{ path('app_events_edit', {'id': event.id}) }}">edit</a>
    
        {{ include('events/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
